<div class="col-12">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
      <li class="breadcrumb-item"><a routerLink="/cadastro">Listagem</a></li>
      <li class="breadcrumb-item active">Formulário</li>
    </ol>
  </nav>
  <div class="row mb-4">
    <div class="col-md">
      <h1 class="h2 border-left pl-2">
        Geração de Senhas
      </h1>
    </div>
    <div class="col-md">
      <a routerLink="/cadastro" class="btn btn-warning float-right">
        <i class="fas fa-backward"></i>&nbsp;Voltar
      </a>
    </div>
  </div>
  <div *ngIf ="mostrarMens" class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
    </button>
    Operação realizada com sucesso!!!
  </div>
  <form class="needs-validation" novalidate [formGroup]="senForm">
    <div class="card" style="box-shadow: 5px 5px 10px #000;">
      <div class="card-header">
        Formulário para Geração de Senhas
      </div>
      <div class="card-body">
        <div class="form-row col-md-12">
          <div class="form-group col-md-1">
            <label for="id">Matrícula:</label>
            <input
              type="text"
              class="form-control"
              id="id"
              formControlName="id"
              readonly=""
            />
          </div>
          <div class="form-group col-md-5">
            <label for="nome">Nome:</label>
            <input
              type="text"
              class="form-control"
              id="nome"
              formControlName="nome"
              readonly=""
            />
          </div>
        </div>
        <div class="form-row col-md-12">
          <div class="form-group col-md-3">
            <label for="tuser">Tipo de usuário:</label>
            <select id="tuser" class="form-control" formControlName="tipo_user">
              <option>Administrador</option>
              <option>Aluno</option>
              <option>Estagiário</option>
              <option>Professor</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="situacao">Situação:</label>
            <select
              id="situacao"
              class="form-control"
              formControlName="status_mat"
            >
              <option>Ativo</option>
              <option>Inativo</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="login">Login:</label>
            <input
              type="text"
              class="form-control"
              id="login"
              placeholder="Nome de usuário"
              formControlName="login"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="senha">Senha:</label>
            <input
              type="password"
              class="form-control"
              id="senha"
              placeholder="Senha"
              formControlName="senha"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
  <div>
    <button
      type="submit"
      (click)="onSumit()"
      class="btn btn-success float-right mt-2"
    >
    <i class="fas fa-save"></i> &nbsp;Salvar
    </button>
  </div>
</div>
