<div class="col-12">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
      <li class="breadcrumb-item"><a routerLink="/cadastro">Listagem</a></li>
      <li class="breadcrumb-item active">Formulário</li>
    </ol>
  </nav>
  <div class="row mb-4">
    <div class="col-md">
      <h1 class="h2 border-left pl-2">
        Cadastro de alunos
      </h1>
    </div>
    <div class="col-md">
      <a routerLink="/cadastro" class="btn btn-warning float-right">
        <i class="fas fa-backward"></i>&nbsp;Voltar
      </a>
    </div>
  </div>
  <div *ngIf ="mostrarMens" class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
    </button>
    Operação realizada com sucesso!!!
  </div>
  <form class="needs-validation" novalidate [formGroup]="cadForm">
    <div class="card">
      <div class="card-header">
        Formulário para cadastro de alunos
      </div>
      <div class="card-body">
        <div class="form-row col-md-12">
          <div class="form-group col-md-1">
            <label for="id">Matrícula:</label>
            <input
              type="text"
              class="form-control"
              id="id"
              formControlName="id"
              readonly
            />
          </div>
          <div class="form-group col-md-5">
            <label for="nome">Nome:</label>
            <input
              type="text"
              class="form-control"
              id="nome"
              formControlName="nome"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="cpf">CPF:</label>
            <input
              type="text"
              class="form-control"
              id="cpf"
              formControlName="cpf"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="nasc">Data de nascimento:</label>
            <input
              type="date"
              class="form-control"
              id="nasc"
              formControlName="data_nasc"
            />
          </div>
        </div>
        <div class="form-row col-md-12">
          <div class="form-group col-md-3">
            <label for="fone1">Fone Res.:</label>
            <input
              type="text"
              class="form-control"
              id="fone1"
              formControlName="fone"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="fone2">Fone Cel.:</label>
            <input
              type="text"
              class="form-control"
              id="fone2"
              formControlName="fone_cel"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="fone3">Fone Zap.:</label>
            <input
              type="text"
              class="form-control"
              id="fone3"
              formControlName="fone_cel2"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="sexo">Sexo:</label>
            <select
              id="sexo"
              class="form-control"
              name="sexo"
              formControlName="sexo"
            >
              <option>Masculino</option>
              <option>Feminino</option>
            </select>
          </div>
        </div>
        <div class="form-row col-md-12">
          <div class="form-group col-md-6">
            <label for="end">Endereço:</label>
            <input
              type="text"
              class="form-control"
              id="end"
              placeholder="Endereço completo"
              formControlName="endereco"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email:</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="xxxxxx@xxx.com.br"
              formControlName="email"
            />
          </div>
        </div>
        <div class="form-row col-md-12">
          <div class="form-group col-md-3">
            <label for="tuser">Tipo de usuário:</label>
            <select id="tuser" class="form-control" formControlName="tipo_user">
              <option>Administrador</option>
              <option>Aluno</option>
              <option>Estagiário</option>
              <option>Professor</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="situacao">Situação:</label>
            <select
              id="situacao"
              class="form-control"
              formControlName="status_mat"
            >
              <option>Ativo</option>
              <option>Inativo</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="login">Login:</label>
            <input
              type="text"
              class="form-control"
              id="login"
              placeholder="Nome de usuário"
              formControlName="login"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="senha">Senha:</label>
            <input
              type="text"
              class="form-control"
              id="senha"
              placeholder="Senha"
              formControlName="senha"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
  <div>
    <button
      type="submit"
      (click)="onSumit()"
      class="btn btn-success float-right mt-2"
    >
    <i class="fas fa-save"></i> &nbsp;Salvar
    </button>
  </div>
  <pre>
    {{ cadForm.value | json }}
    </pre
  >  
</div>