<div class="col-12">
<nav  class="navbar navbar-expand-lg navbar- bg-primary "> 
<div class="ml-4">
    <a class="navbar-brand" style="color: white; font-weight: bold;"><span style="color: #B0E0E6; font-size: 18pt;"><i class="fas fa-running"></i>&nbsp;Energy</span> for {{title}}</a>
</div>
</nav>
<nav *ngIf="mostrarMenu" class="navbar navbar-expand-lg navbar-light bg-light mb-4 col-12"> 
    <div class="btn-group dropdown" id="btn-menu">
      <button type="button" class="btn btn-outline-info my-2 my-sm-0 dropdown-toggle ml-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars">&nbsp;</i>
      </button>
      <div  class="dropdown-menu" style="width: 350px;" id="menu">
          <div class="cabeca">Olá!<span style="color: red; font-weight: bold;"> {{ user }}</span>, seu perfil e de <span style="color:green; font-weight: bold;">{{ tipo }}</span>.</div>
          <a *ngIf="visiCad" class="dropdown-item " routerLink="/cadastro" id="cad"><i class="fas fa-user-edit"></i>&nbsp;Cadastro de alunos</a>
          <a *ngIf="visiExe" class="dropdown-item" routerLink="/exercicio" id="exe"><i class="fas fa-edit"></i>&nbsp;Cadastro de exercícios</a>
          <a *ngIf="visiFicTec" class="dropdown-item" routerLink="/fichatecnica" id="ficTec"><i class="fas fa-list-alt"></i>&nbsp;Ficha técnica</a>
          <a *ngIf="visiFreq" class="dropdown-item" routerLink="/frequencia" id="freq"><i class="fas fa-check-circle"></i>&nbsp;Frequência dos alunos</a>
          <a *ngIf="visiMens" class="dropdown-item" routerLink="/mensalidade" id="mens"><i class="fas fa-hand-holding-usd"></i>&nbsp;Mensalidade</a>
          <div class="dropdown-divider"></div>
          <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="btn btn-danger col-md-10" data-toggle="modal" name="sair">Sair&nbsp;<i class="fas fa-sign-out-alt"></i></button>
          </div>
      </div>
  </div>

  <!--<div>
        <button class="btn btn-outline-info my-2 my-sm-0 dropdown-toggle" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" 
        aria-expanded="false" aria-controls="multiCollapseExample2"><i class="fas fa-bars">&nbsp;</i></button>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                <div   id="menu">
                    <div class="cabeca">Olá, {{ user }}, seu perfil e de {{ tipo }}.</div>
                    <a *ngIf="visiCad" class="dropdown-item " routerLink="/cadastro" id="cad">Cadastro de alunos</a>
                    <a *ngIf="visiExe" class="dropdown-item" routerLink="/exercicio" id="exe">Cadastro de exercícios</a>
                    <a *ngIf="visiFicTec" class="dropdown-item" routerLink="/fichatecnica" id="ficTec">Ficha técnica</a>
                    <a *ngIf="visiFreq" class="dropdown-item" routerLink="/frequencia" id="freq">Frequência dos alunos</a>
                    <a *ngIf="visiMens" class="dropdown-item" routerLink="/mensalidade" id="mens">Mensalidade</a>
                    <div class="dropdown-divider"></div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger col-md-10" data-toggle="modal" name="sair">Sair</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>-->

</nav>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>







