<div class="col-12">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
      <li class="breadcrumb-item"><a routerLink="/mensalidade">Listagem</a></li>
      <li class="breadcrumb-item active">Ficha Financeira</li>
    </ol>
  </nav>

  <div class="row mb-4">
    <div class="col-md">
      <h1 class="h2 border-left pl-2">
        Ficha financeira dos alunos
      </h1>
    </div>
    <div class="col-md">
      <a routerLink="/mensalidade" class="btn btn-warning float-right">
        <i class="fas fa-backward"></i>&nbsp;Voltar
      </a>
    </div>
  </div>
  <div *ngIf="mostrarMens" class="alert alert-success" role="alert">
    Operação realizada com sucesso!!!
  </div>
  <form [formGroup]="mensForm">
    <div class="card">
      <div class="card-header">
        Ficha para Informações financeiras dos alunos!
      </div>
      <div class="card-body">
        <div class="form-row col-md-12">
          <div class="form-group col-md-1">
            <label for="mat">Matrícula:</label>
            <input
              type="text"
              class="form-control"
              id="mat"
              formControlName="matricula"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="login">Login.:</label>
            <input
              type="text"
              class="form-control"
              id="login"
              formControlName="login"
            />
          </div>
          <div class="form-group col-md-8" style="margin-top: 36px">
            <button
              (click)="incluirUser()"
              class="btn btn-outline-info btn-sm "
            >
              <i class="fas fa-search"></i>&nbsp;Buscar
            </button>
          </div>
        </div>
        <div class="border-top" *ngIf="mostrar">
          <div class="form-row col-md-12 mt-3">
            <div class="form-group col-md-2">
              <label for="ff">Ficha Financeira N.º:</label>
              <input
                style="color: red; font-weight: bold; text-align: center;"
                type="text"
                class="form-control"
                id="ff"
                formControlName="id"
                readonly
              />
            </div>
            <div class="form-group col-md-4">
              <label for="name">Nome do aluno:</label>
              <input
                style="color: blue; font-weight: bold; text-align: center;"
                type="text"
                class="form-control"
                id="nomeAluno"
                formControlName="nome"
                readonly
              />
            </div>
            <div class="form-group col-md-3">
              <label for="_cpf">CPF:</label>
              <input
                type="text"
                class="form-control"
                id="_cpf"
                formControlName="cpf"
                style="text-align: right;"
                readonly
              />
            </div>
            <div class="form-group col-md-3">
              <label for="dataGeracao">Data da geração:</label>
              <input
                type="date"
                class="form-control"
                id="dataGeracao"
                formControlName="data_geracao"
                style="text-align: center;"
              />
            </div>
            <div class="form-row col-md-12">
              <div class="form-group col-md-2">
                <label for="dV">Dia do vencimento:</label>
                <input
                  type="number"
                  class="form-control"
                  id="dV"
                  formControlName="dia_vencimento"
                  style="text-align: right;"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="rv">Valor mensal:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">R$</span>
                  </div>
                  <input
                    type="number"
                    class="form-control"
                    id="rv"
                    formControlName="valor_mensal"
                    style="text-align: right;"
                  />
                </div>
              </div>
              <div class="form-group col-md-2">
                <label for="situacao">Situação:</label>
                <select
                  id="situacao"
                  class="form-control"
                  formControlName="status_ff"
                >
                  <option>Ativo</option>
                  <option>Inativo</option>
                </select>
              </div>
              <div
                *ngIf="mostBtnParc"
                class="form-group col-md-2 d-flex align-self-end d-flex justify-content-end"
              >
                <button
                  class="btn btn-info "
                  data-toggle="modal"
                  data-target="#ModalParcela"
                  (click)="addParcela()"
                >
                  <i class="fas fa-plus"></i>&nbsp; Parcelas &nbsp;<i
                    class="fas fa-money-check-alt"
                  ></i>
                </button>
              </div>
            </div>

            <!-- Modal -->
            <div
              class="modal fade"
              id="ModalParcela"
              tabindex="-1"
              role="dialog"
              aria-labelledby="TituloModalCentralizado"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">
                      Dados da parcela.
                    </h5>
                    <!--button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Fechar"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button-->
                  </div>
                  <div class="modal-body" style="font-weight: bold;">
                    <form [formGroup]="parcForm">
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-6">
                          <label for="dataPagamento">Data do pagamento:</label>
                          <input
                            type="date"
                            class="form-control"
                            id="dataPagamento"
                            formControlName="data_pagamento"
                            style="text-align: center;"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="vl">Valor:</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">R$</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              id="vl"
                              formControlName="valor"
                              style="text-align: right;"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-6">
                          <label for="jr">Juros:</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">R$</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              id="jr"
                              formControlName="juros"
                              style="text-align: right;"
                            />
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="dc">Descontos:</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">R$</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              id="dc"
                              formControlName="descontos"
                              style="text-align: right;"
                              (blur)="valorTotal()"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-6">
                          <label for="vt">Valor Total:</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">R$</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              id="vt"
                              formControlName="valor_total"
                              style="text-align: right;"
                            />
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="tp">Tipo de pagamento:</label>
                          <select
                            id="tp"
                            class="form-control"
                            formControlName="tipo_pagamento"
                          >
                            <option>Dinheiro</option>
                            <option>Débito</option>
                            <option>Crédito</option>
                            <option>Cheque</option>
                            <option>Transferência</option>
                            <option>Outros</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-12">
                          <label for="_obs">Obs.:</label>
                          <input
                            type="text"
                            class="form-control"
                            id="_obs"
                            formControlName="obs"
                          />
                        </div>
                        <div class="form-row col-md-12">
                          <div class="form-group col-md-6">
                            <button
                              class="btn btn-warning col-md-12"
                              (click)="mudaStatuaPag()"
                          >
                           <span style="font-weight: bold;">{{statusPag}}</span>
                          </button>
                          </div>
                          <div class="form-group col-md-6">
                            <button
                              class="btn btn-info col-md-12"
                              (click)="estornarPag()"
                          >
                           <span style="font-weight: bold;">Estornar</span>
                          </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-12">
                    <div
                      class="col-10"
                      style="text-align: center;"
                      *ngIf="mostrarMens"
                      class="alert alert-success"
                      role="alert"
                    >
                      Operação realizada com sucesso!!!
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="close()"
                      data-dismiss="modal"
                    >
                      <i class="fas fa-window-close"></i>&nbsp;Fechar
                    </button>
                    <button
                      
                      class="btn btn-success"
                      (click)="onSubmitParc()"
                    >
                      <i class="fas fa-save"></i> &nbsp;Incluir
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--Fim da modal-->
          </div>
          <div class="col-12">
            <table class="table table-hover" >
              <thead>
                <tr class="bg-primary text-light">
                  <th>Data do pagamento</th>
                  <th>Valor</th>
                  <th>Juros</th>
                  <th>Descontos</th>
                  <th>Status</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let parcela of parcelas">
                  <td style="text-align: center;">
                      {{parcela.data_pagamento | date: 'dd/MM/yyyy'}}
                  </td>
                  <td style="text-align: center;">
                      {{parcela.valor.replace(".", ",") }}
                  </td>
                  <td style="text-align: center;">
                      {{parcela.juros.replace(".", ",") }}
                  </td>
                  <td style="text-align: center;">
                    {{parcela.descontos.replace(".", ",") }}
                  </td>
                  <td style="text-align: center;">
                    {{parcela.status_parc}}
                  </td>
                  <td>
                    <button (click)="onEdit(parcela)"  
                            data-toggle="modal" 
                            data-target="#ModalParcela" 
                            class="btn btn-outline-info btn-sm">
                            <i class="far fa-edit"></i>
                    </button>

                    <button (click)="onDelete(parcela.id)" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
           </div>

        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-12">
      <button (click)="onSubmit()" class="btn btn-success float-right mt-3">
        <i class="fas fa-save"></i> &nbsp; Salvar
      </button>
    </div>
    <div class="col-12">
      <div class="col-6">
        <pre>
          {{ mensForm.value | json }}  
        </pre>
      </div>
      <div class="col-6">
        <pre>
          {{ parcForm.value | json }}  
        </pre>
      </div>
    </div>
    
  </div>
</div>
