
<div class="col-12">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
      <li class="breadcrumb-item active">Listagem</li>
    </ol>
  </nav>
  <div class="row mb-4">
    <div class="col-md">
      <h1 class="h2 border-left pl-2">
        Listagem de Senhas
      </h1>
    </div>
  </div>
  <div class="col-md-12">
    <table class="table table-hover" *ngIf="senhas else loading" style="box-shadow: 5px 5px 10px #000;">
      <thead>
        <tr class="bg-primary text-light">
          <th>#</th>
          <th>Nome/Login</th>
          <th>Tipo de usuário</th>
          <th>Status</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let senha of senhas">
          <td>
            <strong>{{senha.id}}</strong>
          </td>
          <td>
            <strong>{{senha.nome}}</strong><br>
            <small>{{senha.login}}</small>
          </td>
          <td>{{senha.tipo_user}}</td>
          <td>{{senha.status_mat}}</td>
          <td>
            <button (click)="onEdit(senha.id)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body">
    <ng-template #loading>
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
  <!-- Modal -->
  <div
  class="modal fade"
  id="ModalExclusao"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalCentralizado"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">
          Vamos lá!
        </h5>
      </div>
      <div class="modal-body" style="font-weight: bold;">
        Deseja excluir o registro de {{_nome}} ?
      </div>
      <div class="col-md-12">
        <div *ngIf ="mostrarMens"  style="text-align: center;"  class="col-10 alert alert-danger" role="alert">
          <span> Registro excluido com sucesso! </span>
         </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="close()"
          data-dismiss="modal"
        >
          <i class="fas fa-window-close"></i>&nbsp;Fechar
        </button>
        <button
          
          class="btn btn-success"
          (click)="onDelete()"
        >
          <i class="fas fa-save"></i> &nbsp;Excluir
        </button>
      </div>
    </div>
  </div>
</div>
<!--Fim da modal-->
</div>